div>.grid {
    border-style: solid;
    border-color: black;
    /* border-radius: 18px; */
    border-width: .5px;



}

#flex-container{
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    margin: 0px;
    padding: 0px;

}

.buttons{
   display: flex;
   justify-content: center;
   align-items: center;
}
button{
    flex:  0, 1, auto;
    align-self: center;
    
}
